.task_list {
    list-style-type: none;
    width: 60vw;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 60px;
}